/* Estilos básicos */
.menu-principal {
  align-items: center;
  background-color: #f2db36; /* Color de fondo */
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 800px; /* Aumenta el max-width según tu necesidad */
  padding: 20px;  
  position: relative; /* Para posicionar el botón de salir */
  width: 80%;
}

.menu-title {
  color: #000000; /* Color del texto */
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Centra el texto del título */
}

.menu-options {
  display: flex;
  gap: 0.8px; /* Elimina el espacio entre los botones */
  justify-content: space-between; /* Alinea las pestañas horizontalmente */
  max-width: 800px; /* Ajusta el max-width según tu necesidad */
  width: 100%;
}

.disabled {
  cursor: not-allowed; /* Muestra el cursor de "no permitido" */
  opacity: 0.5; /* Cambia la apariencia visual */
  pointer-events: none; /* Desactiva la interacción */
}

.menu-button {
  align-items: center; /* Centra verticalmente el texto y el ícono */
  background-color: #333233;
  border: none;
  border-radius: 1px 25px 1px 1px;
  color: white;
  cursor: pointer;
  display: flex;
  flex: 1; /* Para que los botones ocupen el mismo espacio */
  font-size: 18px;
  gap: 10px; /* Espacio entre el ícono y el texto */
  justify-content: center; /* Alinea el contenido al inicio */
  margin: 10px 0; /* Asegura separación vertical */
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-button span {
  font-size: 32px; /* Tamaño del icono */
  margin-left: 10px; /* Espacio entre el texto y el icono */
}

.menu-button .material-icons {
  align-items: center; /* Centrado vertical */
  color: white; /* Color del ícono */
  display: inline-flex; /* Centrado del ícono */
  font-size: 24px; /* Tamaño del ícono */
  justify-content: center; /* Centrado horizontal */
}

.menu-button:hover {
  background-color: #565557;
}

.logout-button-container {
  bottom: -420px;
  left: 978px;
  position: absolute; /* Posiciona el botón de salir */
}

.logout-button {
  align-items: center;
  background-color: #565557; /* Color de fondo diferente para el botón de salir */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  justify-content: center;
  min-width: 150px; /* Ajustar la longitud mínima del botón */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.logout-button .material-icons {
  margin-left: 8px; /* Mueve el ícono a la derecha del texto */
}

.logout-button:hover {
  background-color: #333233; /* Color de fondo diferente en hover para el botón de salir */
}

/* Media Queries */

/* Para resoluciones menores a 480px */
@media (max-width: 480px) {
  .menu-title {
    font-size: 20px;
  }

  .menu-button {
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  .menu-options {
    flex-direction: column; /* Cambia las pestañas a una columna en pantallas pequeñas */
    gap: 10px;
  }

  .logout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: static; /* Desactiva el posicionamiento absoluto en pantallas pequeñas */
    width: 100%;
  }

  .menu-button:first-child,
  .menu-button:last-child {
    border-radius: 5px; /* Ajusta los bordes en pantallas pequeñas */
  }
}

/* Para resoluciones entre 481px y 600px */
@media (min-width: 481px) and (max-width: 600px) {
  .menu-title {
    font-size: 22px;
  }

  .menu-button {
    font-size: 17px;
    width: 100%;
  }

  .menu-options {
    flex-direction: column; /* Cambia las pestañas a una columna en pantallas medianas */
    gap: 10px;
  }

  .logout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: static; /* Desactiva el posicionamiento absoluto en pantallas medianas */
    width: 100%;
  }

  .menu-button:first-child,
  .menu-button:last-child {
    border-radius: 5px; /* Ajusta los bordes en pantallas medianas */
  }
}

/* Para resoluciones entre 601px y 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .menu-title {
    font-size: 24px;
  }

  .menu-button {
    font-size: 18px;
    width: 100%;
  }

  .menu-options {
    flex-direction: row; /* Mantiene las pestañas alineadas horizontalmente */
    gap: 0; /* Elimina el espacio entre los botones */
  }

  .logout-button-container {
    bottom: 20px;
    position: absolute; /* Posiciona el botón de salir */
    right: 20px;
    width: auto; /* Permitir que el botón de salir tenga tamaño automático */
  }
}

/* ------------------------ @Media Queries --------------------- */

/* Para resoluciones menores a 480px */
@media (max-width: 480px) {
  .menu-title {
    font-size: 20px;
  }

  .menu-button {
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  .menu-options {
    flex-direction: column; /* Cambia las pestañas a una columna en pantallas pequeñas */
    gap: 10px;
  }

  .logout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: static; /* Desactiva el posicionamiento absoluto en pantallas pequeñas */
    width: 100%;
  }

  .menu-button:first-child,
  .menu-button:last-child {
    border-radius: 5px; /* Ajusta los bordes en pantallas pequeñas */
  }
}

/* Para resoluciones entre 481px y 600px */
@media (min-width: 481px) and (max-width: 600px) {
  .menu-title {
    font-size: 22px;
  }

  .menu-button {
    font-size: 17px;
    width: 100%;
  }

  .menu-options {
    flex-direction: column; /* Cambia las pestañas a una columna en pantallas medianas */
    gap: 10px;
  }

  .logout-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: static; /* Desactiva el posicionamiento absoluto en pantallas medianas */
    width: 100%;
  }

  .menu-button:first-child,
  .menu-button:last-child {
    border-radius: 5px; /* Ajusta los bordes en pantallas medianas */
  }
}

/* Para resoluciones entre 601px y 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .menu-title {
    font-size: 24px;
  }

  .menu-button {
    font-size: 18px;
    width: 100%;
  }

  .menu-options {
    flex-direction: row; /* Mantiene las pestañas alineadas horizontalmente */
    gap: 0; /* Elimina el espacio entre los botones */
  }

  .logout-button-container {
    bottom: 20px;
    position: absolute; /* Posiciona el botón de salir */
    right: 20px;
    width: auto; /* Permitir que el botón de salir tenga tamaño automático */
  }
}